<div class="flex flex-wrap w-full mb-20 h-screen items-center bg-slate-100 px-5 justify-around">
    <div class="max-w-2x1 text-center">
        <img class="w-24 h-24 md:w-48 md:h-auto rounded-full" src="https://pbs.twimg.com/profile_images/1241539372962504704/V12J9Ucl_400x400.jpg" alt="">
    </div>
    <div class="">
        <div class="mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Rafael Andrade da Silva</h1>
            <p class="text-gray-500 w-full"> Desenvolvedor Frontend - Angular | TS </p>
            <div class="h-1 w-20 bg-indigo-500 rounded mb-4"></div>
        </div>
        <p class=" leading-relaxed text-gray-500 max-w-4xl">{{aboutMeText}}</p>
        <button class="bg-white inline-flex py-3 px-5 rounded-lg items-center mt-4 hover:bg-gray-200 focus:outline-none" (click)="traduzirSobreMim()"> {{traslateButton}} </button>
        </div>
  </div>